@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles généraux pour la table */
.table-custom {
    border: 1px solid black !important;
    background-color: rgb(225, 220, 220);
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #1b395626;
    color: #0c0202ef;
}

.table-custom tbody tr:hover {
    background-color: #6963633d;
    cursor: pointer; /* Couleur de survol des lignes */
}

.table-custom td, .table-custom th {
    padding: 8px;
}

/* Styles spécifiques pour le thead */
.table-head-custom {
    background-color: #8a7205b5; /* Couleur de fond du thead */
    color: white; /* Couleur du texte du thead */
}
.table-head-custom tr {
    background-color:transparent !important ; /* Couleur de fond du thead */
}

.collapse{
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .show {""
        width: calc(var(--nav-width) + 180px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 195px);
    }

}

.dropdown-toggle::after {
display: none;
}
.active::before {
    content: '';
    position: absolute;
    left: 5px;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
